/* 1920 × 780  */
.footer_tasty {
  width: 100%;
  height: 350px;
  background-image: url(../home.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  /* background-color: black; */
  /* margin-left: -87px;
  margin-right: -7%; */
}

/* .footer_tasty img{
  width: 100%;
  height: 450px;
} */


.footer_tasty h2 {
  font-size: 125px;
  text-align: center;
  font-weight: bold;
  color: #fefefe;
  text-transform: uppercase;
}