body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

.site-container {
  min-height: 100vh;
}

main {
  /* padding: 1rem; */
  flex: 1;
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 999;
}

/* .cartAndStore{
  justify-content: center;
} */


.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 70px;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
  /* border-radius: 5px; */
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
  /* justify-content: center; */
}

.rating span {
  color: #ffc000
}

/* .banner {
  width: 100%;
  height: 90vh;
  border-radius: 10px; */
  /* background-position: right; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-image: url("/frontend/public/images/home.png"); */
/* } */



.head-text {
  position: relative;
  color: white;
}

/* .center__text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
} */

/* 
.title {
  font-weight: 650;
  font-size: 60px;
  width: 100%;
  top: 50%;
} */

/* .info-title {
  font-size: 20px;
  text-align: center;
} */



.img-large{
  max-width: 100%;
  border-radius: 10px;
}

.img-thumbnail{
  height: 80px;
}

.small-container{
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active{
  border-bottom: 0.2rem solid #094fb6;
  color: #094fb6;
}

.nav_right{
  margin-left: 20%;
}

.text-center{
margin-left: 195px;
}